Repository opentelekomcloud-community/terraform-workshop: changes, and which Atlantis projects are due for each by the changed paths.
All: minimal, multitenancy-dev, multitenancy-prod

atlantis.yaml:

version: 3
automerge: true

projects:
  - name: minimal
    dir: terraform-minimal
    workspace: default
    autoplan:
      enabled: true
      when_modified:
        - "**/*.tf"
        - ".terraform.lock.hcl"
    terraform_version: v1.7.5
    apply_requirements: ["approved", "mergeable"]
  - name: multitenancy-dev
    dir: terraform-multitenancy/envs/eu-de/dev
    workspace: default
    autoplan:
      enabled: true
      when_modified:
        - "**/*.tf"
        - ".terraform.lock.hcl"
    terraform_version: v1.7.5
    apply_requirements: ["approved", "mergeable"]
  - name: multitenancy-prod
    dir: terraform-multitenancy/envs/eu-de/prod
    workspace: default
    autoplan:
      enabled: true
      when_modified:
        - "**/*.tf"
        - ".terraform.lock.hcl"
    terraform_version: v1.7.5
    apply_requirements: ["approved", "mergeable"]

workflows:
  default:
    plan:
      steps:
        - init
        - plan
    apply:
      steps:
        - apply

provider config
  terraform-multitenancy/envs/eu-de/dev/providers.tf
  terraform-multitenancy/envs/eu-de/prod/providers.tf
Due: multitenancy-dev, multitenancy-prod

multitenancy slides and text (#3)
  atlantis.yaml
  docs/INSTALL.md
  docs/slides/PART 1/PART 1.md
  docs/slides/PART 1/intro_iac_landscape.pptx
  docs/slides/PART 4/PART 4.md
  docs/slides/PART 4/multitenancy.pptx
  docs/slides/PART 4/terragrunt.pptx
  docs/slides/PART 5/PART 5.md
  docs/slides/PART 5/atlantis.pptx
  terraform-multitenancy/envs/eu-de/dev/main.tf
  terraform-multitenancy/envs/eu-de/dev/providers.tf
  terraform-multitenancy/envs/eu-de/dev/variables.tf
  terraform-multitenancy/envs/eu-de/prod/main.tf
  terraform-multitenancy/envs/eu-de/prod/providers.tf
  terraform-multitenancy/envs/eu-de/prod/variables.tf
  terraform-multitenancy/modules/vm/main.tf
  terraform-multitenancy/modules/vm/outputs.tf
  terraform-multitenancy/modules/vm/variables.tf
  terragrunt/live/eu-de/dev/main.tf
  terragrunt/live/eu-de/dev/terragrunt.hcl
  terragrunt/live/eu-de/prod/terragrunt.hcl
  terragrunt/modules/vm-nginx/outputs.tf
  terragrunt/modules/vm-nginx/variables.tf
  terragrunt/root.hcl
Due: multitenancy-dev, multitenancy-prod

rm terragrunt
  README.md
  docs/slides/PART 5/PART 5.md
Due: none

text format
  docs/slides/PART 1/PART 1.md
  docs/slides/PART 2/PART 2.md
  docs/slides/PART 3/PART 3.md
  docs/slides/PART 4/PART 4.md
  docs/slides/PART 5/PART 5.md
  docs/slides/PART 7/PART 7.md
Due: none

pulumi example
  pulumi/.gitignore
  pulumi/Pulumi.yaml
  pulumi/__main__.py
  pulumi/requirements.txt
Due: none

pulumi example looping update
  pulumi/Pulumi.yaml
  pulumi/__main__.py
Due: none

merge slides for workshop use otc styles
  docs/Terraform workshop - Anton Sidelnikov.pptx
  docs/slides/PART 1/intro_iac_landscape.pptx
  docs/slides/PART 2/basics_otc.pptx
  docs/slides/PART 3/advanced_terraform_otc.pptx
  docs/slides/PART 4/multitenancy.pptx
  docs/slides/PART 5/atlantis.pptx
  docs/slides/PART 6/pulumi.pptx
  docs/slides/PART 7/appendix.pptx
Due: none

text for slides
  docs/TEXT.md
  docs/slides/PART 1/PART 1.md
  docs/slides/PART 2/PART 2.md
  docs/slides/PART 3/PART 3.md
  docs/slides/PART 4/PART 4.md
  docs/slides/PART 5/PART 5.md
  docs/slides/PART 6/PART 6.md
  docs/slides/PART 7/PART 7.md
Due: none

rm hardcode from minimal hands-on
  terraform-minimal/.terraform.lock.hcl
  terraform-minimal/main.tf
  terraform-minimal/variables.tf
Due: minimal

multitenancy dev
  README.md
  terraform-multitenancy/envs/eu-de/dev/main.tf
  terraform-multitenancy/envs/eu-de/dev/outputs.tf
  terraform-multitenancy/envs/eu-de/dev/variables.tf
  terraform-multitenancy/function/handler.py
  terraform-multitenancy/function/model.py
  terraform-multitenancy/function/requirements.txt
  terraform-multitenancy/function/storage.py
  terraform-multitenancy/function/utils.py
  terraform-multitenancy/modules/apigw/main.tf
  terraform-multitenancy/modules/apigw/outputs.tf
  terraform-multitenancy/modules/apigw/providers.tf
  terraform-multitenancy/modules/apigw/variables.tf
  terraform-multitenancy/modules/function/main.tf
  terraform-multitenancy/modules/function/outputs.tf
  terraform-multitenancy/modules/function/providers.tf
  terraform-multitenancy/modules/function/variables.tf
  terraform-multitenancy/modules/networking/main.tf
  terraform-multitenancy/modules/networking/outputs.tf
  terraform-multitenancy/modules/networking/providers.tf
  terraform-multitenancy/modules/networking/variables.tf
  terraform-multitenancy/modules/packager/main.tf
  terraform-multitenancy/modules/packager/outputs.tf
  terraform-multitenancy/modules/packager/providers.tf
  terraform-multitenancy/modules/packager/variables.tf
  terraform-multitenancy/modules/redis/main.tf
  terraform-multitenancy/modules/redis/outputs.tf
  terraform-multitenancy/modules/redis/providers.tf
  terraform-multitenancy/modules/redis/variables.tf
  terraform-multitenancy/modules/vm/main.tf
  terraform-multitenancy/modules/vm/outputs.tf
  terraform-multitenancy/modules/vm/variables.tf
Due: multitenancy-dev

cloud
  terraform-multitenancy/envs/eu-de/dev/variables.tf
Due: multitenancy-dev

devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .gitignore
Due: none

test
  terraform-multitenancy/envs/eu-de/dev/main.tf
Due: multitenancy-dev

test1
  terraform-multitenancy/envs/eu-de/dev/main.tf
Due: multitenancy-dev

backend
  terraform-multitenancy/envs/eu-de/dev/providers.tf
Due: multitenancy-dev

port
  terraform-multitenancy/envs/eu-de/dev/main.tf
Due: multitenancy-dev

INSTALL.md fix
  docs/INSTALL.md
Due: none

latest slides and pdf version
  docs/Terraform workshop - Anton Sidelnikov.pptx
  docs/oise-2025-terraform-workshop-latest.pptx
  docs/oise-2025-terraform-workshop.pdf
Due: none
